main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

#adoption-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  #adoption-container {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  #adoption-container {
    flex-direction: column;
  }
}
